.hamburger {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    height: 21px;
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-end;
    transition: all 0.6s;
    &.not_active {
        right: -100%;
    }
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
    }
    span.long {
        width: 36px;
    }
}