@media screen and (max-width:1320px) {
    .sidepanel {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .menu {
        nav {
            height: 100vh;
        }
        &__block {
            width: 40%;
        }
        &__overlay {
            width: 60%;
        }
    }
    .about {
        &__wrapper {
            grid-template: repeat(2, minmax(245px, auto)) / 300px 625px;
            gap:40px 35px;
        }
    }
    
    .resume {
        &__wrapper {
            grid-template-columns: auto;
            gap: 50px;
        }
        &__item {
            &-head {
                margin-top: 35px;
            }
        }
        &__column {
            ul {
                li {
                    &:after {
                        height: calc(100% + 43px);
                        top: -43px;
                    }
                }
            }
        }
    }
    .skills {
        &__wrapper {
            margin-top: 60px;
            grid-template: repeat(2, minmax(270px, auto)) / repeat(3, 270px);
            justify-content: center;
            gap: 25px;
        }
        &__level {
            grid-template: repeat(2, minmax(70px, auto)) / repeat(2, 350px);
            justify-content: center;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(2, 280px) / repeat(auto-fit, 280px);
            justify-content: center;
        }
        &__item {
            &-plans {
                grid-row: unset;
                grid-column: unset;
            }
            &-mac {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            margin: 0;
            grid-template-columns: 400px 520px;
            gap: 10px;
        }
        form {
            grid-template: 45px 190px 45px / repeat(2, 250px);        
        }
        &__submit {
            column-gap: 25px;
        }

    }

}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        padding-top: 70px;
        &__wrapper {
            grid-template: repeat(2, minmax(245px, auto)) / 300px auto;
            grid-auto-rows: auto;
        }
        &__skills {
            grid-template: repeat(2, auto) / auto;
            &-item {
                grid-template-columns: 40px auto;
            }
        }
    }
    .title {
        font-size: 30px;
        &_promo {
            font-size: 48px;
        }
        &_fz20 {
            font-size: 20px;
        }
        &_fz16 {
            font-size: 16px;
        }
        &_fz14 {
            font-size: 14px;
        }
    }
    .resume {
        padding-top: 70px;
    }
    .skills {
        padding-top: 70px;
        &__wrapper {
            grid-template: repeat(2, minmax(270px, auto)) / repeat(2, 270px);
            gap: 25px;
        }
        &__level {
            grid-template: repeat(2, minmax(70px, auto)) / repeat(2, 350px);
            gap: 30px 35px;
        }
    }
    .portfolio {
        padding-top: 70px;
        &__item {
            filter: none;
            &:hover {
                filter: unset;
                transform: unset;
                z-index: unset;
            }
        }
    }
    .pricelist {
        padding-top: 70px;
        &__wrapper {
            margin: 60px 0 0 0;
            grid-template-columns: repeat(auto-fit, 300px);
            gap: 15px;
            justify-content: space-between;
        }
    }
    .contacts {
        padding: 70px 0 50px 0;
        &__wrapper {
            margin: 0;
            grid-template-columns: 300px 400px;
            gap: 10px;
        }
        form {
            grid-template: 45px 190px 45px / repeat(2, 195px);  
            gap: 30px 10px;
            button {
                line-height: 16px;
                padding: 8px 25px;
            }  
        }
        &__submit {
            column-gap: 25px;
        }

    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_promo {
            width: 300px;
            font-size: 26px;
            line-height: 39px;
        }
    }
    .menu {
        &__block {
            width: 50%;
        }
        &__overlay {
            width: 50%;
        }
    }

    .hamburger {
        right: 20px;
    }

    .about {
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template: repeat(2,auto);
            gap: 20px 20px;
        }
    }
    .skills {
        &__wrapper {
            gap: 5px;
        }
        &__level {
            grid-template: repeat(2, minmax(70px, auto)) / repeat(2, 260px);
            gap: 20px;
        }
    }
    .pricelist {
        &__wrapper {
            justify-content: center;
        }
    }
    .contacts {
        &__photo {
            display: none;
        }
        &__title {
            text-align: center;
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__subtitle {
            text-align: center;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            justify-content: center;
        }
        &__text {
            text-align: center;
        }
        &__social {
            text-align: center;
        }
        form {
            grid-template: 45px 190px 45px/ repeat(2,auto);
        }
    }
    .divider {
        &_contacts {
            margin: 0 auto;
        }
    }

}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .menu {
        &__block {
            width: 70%;
        }
        &__overlay {
            width: 30%;
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 0 0 0;
        }
    }
    .skills {
        &__wrapper {
            margin: 20px 0 0 0;
            grid-template: repeat(2, minmax(270px, auto)) / auto;
            gap: 20px;
        }
        &__level {
            grid-template: repeat(2, minmax(70px, auto)) / 100%;
            gap: 20px;
        }
    }
    .contacts {
        form {
            grid-template: 45px 45px 190px 45px / auto;
            gap: 20px;
        }
        &__textarea {
            grid-column: unset;
        }
        &__submit {
            grid-template-columns: auto;
            grid-column: unset;
            gap: 20px;
        }
        &__policy {
            grid-row: 1;
            input {
                margin-right: 7px;
            }
        }
    }


    
}