.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    align-items: center;
    height: 340px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    &__link {
        &:hover {
            svg path {
                fill: blue;
            }
        }
        &_i {
            &:hover {
                svg path {
                    fill: #8a3ab9;
                }
            }
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000;
    }
    &__text {
        height: 150px;
        width: 25px;
        span {
            display: block;
            width: 150px;
            transform: rotate(-90deg) translate(-30%, -260%);
        }
    }
    
}